body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* İçeriği üstten hizalar */
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin-top: 20px; /* Üstten biraz boşluk bırakır */
}

.logo img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.btn-primary {
    background-color: #2a5e68;
}

.btn-secondary {
    background-color: #ffa50c;
}

.modal, .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content, .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #2a5e68;
    cursor: pointer;
}

.modal-btn, .popup-btn {
    background-color: #2a5e68;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}
